html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 15vh;
    margin-bottom: 3vh;
}

tr{
    border-bottom: 2px lightgray solid;
    line-height: 40px;
}

th{
    font-weight: 400;
    text-align: center;
}

input{
    width: 100%;    
    margin: 0 0 1vh;
}

p{
    margin: 0;
    padding: 0;
}
#schedule{
    height: 40vh;
    margin-bottom: 1vh;
    overflow: auto;
}
h5,
#clearSchedule{
    display: inline-block;
}
#clearSchedule{
    position: absolute;
    right: 10px;
}
.tableLabel{
    font-weight: 700;
}